@model PizzaStore.Client.Models.PizzaViewModel
@{
    ViewData["Title"] = "Preset Order Page";
    Layout = "~/Views/Order/_LayoutOrder.cshtml";
}

@using(Html.BeginForm("PlaceOrder", "Order", null, FormMethod.Post))
{
  @Html.AntiForgeryToken();

  <select name="selectedtopping" id="">
    @foreach (var topping in @Model.Toppings)
    {
        <option value="@topping.Name">@topping.Name</option>
    }
  </select>
  @Html.HiddenFor(m => m.SelectedTopping)
  
  <button type="submit">Submit</button>
  @Html.HiddenFor(m => m.Crust)
  @Html.HiddenFor(m => m.Size)
  @Html.HiddenFor(m => m.UserName)
  
}