@{
    ViewData["Title"] = "User Summary Page";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}

@model PizzaStore.Client.Models.PizzaViewModel

@using(Html.BeginForm("ConfirmOrder", "Order", null, FormMethod.Post))
{
  <main>
    <table style="width: 100%">
      <tr>
        <th>Crusts</th>
        <th>Sizes</th>
        <th>Toppings</th>
        <th>User</th>
      </tr>
          <tr>
            <td>@Model.Crust</td>
            <td>@Model.Size</td>
            <td>@Model.SelectedTopping</td>
            <td>@Model.UserName</td>
          </tr>
    </table>
  </main>

  <button type="submit">Confirm Order</button>
  @Html.HiddenFor(m => m.Crust)
  @Html.HiddenFor(m => m.Size)
  @Html.HiddenFor(m => m.UserName)
  @Html.HiddenFor(m => m.SelectedTopping)
  @Html.HiddenFor(m => m.UserID)

}